In [1]:
import pandas as pd
import requests
from tqdm.notebook import tqdm
import IPython

In [2]:
wwm = pd.read_csv("words-with-meters.csv", names=["text", "meter"])
wwm

              text meter
0                A     s
1               AB     s
2            ABBAS    sl
3         ABSENTEM   sss
4               AC     s
...            ...   ...
176845   zothecula  llss
176846  zotheculas  llsl
176847      zygian   sss
176848       zythi    sl
176849       zytho    sl

[176850 rows x 2 columns]

In [3]:
[dict(wwm.iloc[i]) for i in range(10)]

[{'text': 'A', 'meter': 's'},
 {'text': 'AB', 'meter': 's'},
 {'text': 'ABBAS', 'meter': 'sl'},
 {'text': 'ABSENTEM', 'meter': 'sss'},
 {'text': 'AC', 'meter': 's'},
 {'text': 'ACADEMIA', 'meter': 'sssss'},
 {'text': 'ACILIO', 'meter': 'slsl'},
 {'text': 'ACTA', 'meter': 'ss'},
 {'text': 'ACTIO', 'meter': 'ssl'},
 {'text': 'AD', 'meter': 's'}]

In [4]:
wwm['text'][0]

'A'

In [5]:
wwm['text'] += ","

In [6]:
wwm

               text meter
0                A,     s
1               AB,     s
2            ABBAS,    sl
3         ABSENTEM,   sss
4               AC,     s
...             ...   ...
176845   zothecula,  llss
176846  zotheculas,  llsl
176847      zygian,   sss
176848       zythi,    sl
176849       zytho,    sl

[176850 rows x 2 columns]

In [7]:
recited_words = [{"text": wwm['text'][i][0:-1], "mp3": requests.get("https://poetaexmachina.net/mp3",params=dict(wwm.iloc[i])).content} for i in tqdm(range(len(wwm)))]

  0%|          | 0/176850 [00:00<?, ?it/s]

In [8]:
IPython.display.Audio(recited_words[3]['mp3'])

In [10]:
recited_words[3]['text']

'ABSENTEM'

In [11]:
for i in tqdm(range(len(recited_words))):
    with open(f'txt/{i + 1000000}','w') as f:
        f.write(recited_words[i]['text'])
    with open(f"mp3/{i + 1000000}","wb") as f:
        f.write(recited_words[i]['mp3'])

  0%|          | 0/176850 [00:00<?, ?it/s]